<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Evaluate News Article</title>
    <link rel="stylesheet" href="/styles/resets.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <!-- <header>
        <div>
            Logo
            
        </div>
    </header> -->
   
    <main>
        <section>
            <h1>Type Article's URL:</h1>
        </section>
        <section>
            
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" " placeholder="Url">
                <input id="btn" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
            </form>
        </section>
        <section>
            <strong>Article Results:</strong>
            
         </section>
         <section>
            <div class="result" id="text"></div>
            
            <div class="result" id="scoretag"></div>
           
            <div class="result" id="subjectivity"></div>
            <div class="result" id="irony"></div>
            <div  class="result" id="confidence"></div>
            <div class="result" id="agreement"></div>
         </section>
    </main>
    <footer class="footer">
        <div>
            <h1>
                Evaluate News Article
            </h1>
            <p>copyright 2021</p>
        </div>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
       </script>

</body>
</html>