form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: #ffe6ff;
    border-radius: 3px;
}

input {
    padding: 5px 20px;
    width: 94%;
    line-height: 16px;
    margin: 10px 0;
    
}

#btn{
    width: 100%;
    background-color:#a3297a ;
    border-radius: 7px;
}
