form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: #ffe6ff;
    border-radius: 3px;
}

input {
    padding: 5px 20px;
    width: 94%;
    line-height: 16px;
    margin: 10px 0;
    
}

#btn{
    width: 100%;
    background-color:#a3297a ;
    border-radius: 7px;
}
#agreement
{
    border: 1px solid ;
    margin-top:5px;
    padding: 5px
}
#irony
{   
    padding: 5px;
    margin-top:5px;
    border: 1px solid ;
}
#confidence
{
    padding: 5px;
    margin-top:5px;
    border: 1px solid ;
}
#subjectivity
{
    padding: 5px;
    margin-top:5px;
    border: 1px solid ;
}

.result{
    background-color:plum;
}
.result:empty{
    background-color: #ffff;
    
}
#subjectivity:empty{
border: none;
}

#confidence:empty{
    border:none;
}

#irony:empty{
    border:none;
}
#agreement:empty{
    border:none;
}